extends layout

mixin item(theItem)
	.item
		.item-content
			a.item-text(href='/post/'+theItem.slugurl)= theItem.title
			ul.item-bottom
				li.item
					p.item= theItem.points + ' points' 
					p.item.dot!= '&#8226;'
				li.item
					p.item
						a.item(href=theItem.commentUrl) #{theItem.comments} comments
					p.item.dot!= '&#8226;'
				li.item
					p.item
						= theItem.date.toDateString() + ' by '
						a.item(href=theItem.authorLink) #{theItem.authorName}
		.item-badges
			.badge
				img.badge-icon(src='/images/angry.png' alt='angry')
				p.badge-num= theItem.angry
			.badge
				img.badge-icon(src='/images/sad.png' alt='sad')
				p.badge-num= theItem.sad
			.badge
				img.badge-icon(src='/images/funny.png' alt='funny')
				p.badge-num= theItem.funny
			.badge
				img.badge-icon(src='/images/happy.png' alt='happy')
				p.badge-num= theItem.happy


		.clear-float


block content

	include nav.jade

	div.main-wrap
		include mainLeft.jade
		.main-content
			.main-content-inner
				//if username
				//	p #{username}
				//each item in items
				each item in stories
					+item(item)
		.main-right
			p &nbsp




