extends layout

mixin comment(theComment)
	.comment-wrap
		p.comment #{theComment.text}
		ul.comment-bottom
			li.comment
				a.comment(href=theComment.authorLink) #{theComment.authorName}
				p.comment-info
					//= theItem.date.toDateString() + ' by '
					= ' commented ' + theComment.humanDate()
				p.item.dot!= '&#8226;'
			li.comment
					a.comment(href='#'+theComment.id) Go to selections




block content

	include nav.jade

	div.main-wrap
		include mainLeft.jade
		
		.main-content
			.main-content-inner-post
				a(href=theStory.url, target="_blank"): h3#theTitle.story-title.text-center #{theStory.title}
				//a#theUrl.a-story(href=theStory.url, target="_blank"): p.p-story.text-center #{theStory.url}
				
				.story-info-wrap
					ul.story-info
						li.story-info
							p.story-info= theStory.points + ' points' 
							p.story-info.dot2!= '&#8226;'
						li.story-info
							p.story-info
								a.story-info(href='#commentSection') #{theStory.comments} comments
							p.story-info.dot2!= '&#8226;'
						li.story-info
							p.story-info
								= 'Posted '+theStory.humanDate() + ' by '
								a.story-info(href=theStory.authorLink) #{theStory.authorName}

			#theContent !{theStory.text}
			
			.thePopover
				.thePopover-comment-wrap
					p.comment-head Comment on selection
					textarea.form-control.popover-textarea(rows="3", placeholder="Comment")
					.popover-button-wrap
						button(type="submit", class="btn btn-primary popover-submit", id="submit-final") Comment
						button(type="submit", class="btn btn-default popover-close", id="submit-final") Close
					.alert.alert-danger.tooManyWarning(role="alert") 5 selections max
				.thePopover-badge-wrap
					p.comment-head Give selection a badge
					#happy.badge-square
						img.badge-icon-popover(src='/images/happy.png' alt='happy')
						p.badge-num-popover Happy
					#funny.badge-square
						img.badge-icon-popover(src='/images/funny.png' alt='funny')
						p.badge-num-popover Funny
					#sad.badge-square
						img.badge-icon-popover(src='/images/sad.png' alt='sad')
						p.badge-num-popover Sad
					#angry.badge-square
						img.badge-icon-popover(src='/images/angry.png' alt='angry')
						p.badge-num-popover Angry

			#commentSection
				h3.commentSection Comments
				each comment in allComments
					+comment(comment)

		.main-right
			p &nbsp

	script(type='text/javascript').
		var storyData =!{JSON.stringify(theStory)}
		var storyComments =!{JSON.stringify(allComments)}
		var commentSentences =!{JSON.stringify(sentenceComments)}
		var storyBadges =!{JSON.stringify(allBadges)}
		var badgeSentences =!{JSON.stringify(sentenceBadges)}
		var theUsername = '#{username}'

	script(type='text/javascript', src="/javascripts/postrender.js")





